.mid{
	height: 124px;
	
	background-color: #475268;
}
.mid .mid-box{
	width: 1132px;
	height: 124px;
	margin: 0 auto;
	line-height: 124px;
}
.mid-box1,.mid-box2{
	float: left;
}
.mid .mid-box .mid-box1{
	font-size: 30px;
	color: #FFFFFF;
}
.mid-box2{
	margin-left: 700px;
}
.mid-box2 span{
	margin:5px;
	color: #FFFFFF;
}
.mid-box2 a{
	color: #F77B6F;
}
.mid-box2 .mid-boxt3{
	color: #FFFFFF;
}