.container{
		max-width: 1170px;
		margin: 0 auto;
	}
	.container .container-line{
		margin-top: 45px;
		position: relative;
	}
	.container .container-line li{
		float: left;
		padding: 12px 15px;
		background: #E2E0E1;
		margin: 0 5px;
		border-radius: 5px;
	}
	.container .container-line li:hover{
		cursor:pointer;
		background: #F77B6F;
		color: #fff;
	}
	.container .col{
		position: relative;
		overflow: hidden;
		padding: 35px 0 60px;
		height: 758.391px;
		width: 100%;
	}
	.container .col li{
		position: relative;
		width: 264px;
		height: 232px;
		float: left;
		margin: 12px;
		overflow: hidden;	
	}
	.container .col li .col-opacity{
		background: rgba(0,0,0,0.5);
		opacity: 0.7;
		display: block;
		width:100%;
		height: 100%;
		position: absolute; 
		top: -232px;
		left: 0px;
		z-index: 2;
	}
	
	.container .col li .icon{
		position: relative;
	}
	.container .col li .icon h2{
		display: block;
		color: #fff;
		top: -200px;
		left: 70px;
		position: absolute;
		font-size:16px;
		padding: 10px;
		font-family: 'Fjalla One', sans-serif;
		font-weight: bold;
		transform: scale(0);
		z-index: 9;

	}
	.container .col li:hover .icon h2{
		transform: scale(1);
		transition-duration: 0.5s;
		transition-timing-function: ease-out;
	}
	
	.container .col li .icon .icon1{
		float: left;
		display: block;
		width: 40px;
		height: 40px;
		background: #FFFFFF;	
		border-radius: 50%;
		overflow: hidden;
		position: absolute;
		bottom: -60px;
		left:70px;
		z-index: 9;
		transition-property: bottom left;
		transition-duration: 0.5s;
		transition-timing-function: ease-out;
		
	}
	.container .col li .icon .icon2{
		float: left;
		display: block;
		width: 40px;
		height: 40px;
		background: #FFFFFF;	
		border-radius: 50%;
		overflow: hidden;
		position: absolute;
		bottom: -60px;
		left:120px;
		z-index: 9;
		transition-property: bottom left;
		transition-duration: 0.3s;
		transition-timing-function: ease-out;
	}
	.container .col li .icon img{
		width: 40px;
		height: 40px;
	}
	.container .col li:hover .icon .icon1{
		width:40px;
		height: 40px;
		bottom: 100px;
		left: 70px;
		
	}
	.container .col li:hover .icon .icon2{
		width:40px;
		height: 40px;
		bottom: 100px;
		left: 120px;
	}
	.container .col li:hover .icon .icon1 img{
		transform: scale(0.5,0.5);

		
	}
	.container .col li .icon .icon1:hover{
		cursor: pointer;
		background: rgba(256,256,256,0.5);
		
	}
	.container .col li:hover .icon .icon2 img{
		transform: scale(0.5,0.5);
	}
	.container .col li .icon .icon2:hover{
		cursor: pointer;
		background: rgba(255,255,255,0.5);	
	}
	.container .col li:hover img{
		transform: scale(3,2.6);
		transition-duration:0.5s;	
	}
	.container .col li:hover .col-opacity{
		top: 0px;
		left: 0px;
	}
	.container .col li img{
		width: 264px;
		height: 232px;
		z-index: 1;
		transform: scale(1,1);
		transition-duration:0.5s;
	}